
@media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
}

nav {
    background-color: #2e2e2e;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: #363636;
    overflow-x: hidden;
}

main {
    flex: 1;
    padding: 3rem;
    /* overflow-y: scroll; */
}

main > .page-container {
    background-color: rgb(44, 44, 44);
    border: 1px #4b4b4b solid;
    padding: 1rem;
}

footer {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    width: 100vw;
    padding: .3rem;
}

.user-avatar {
    background-color: blue;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 30px;
}

.user-avatar > img {
    min-width: 100%;
    min-height: 100%;
}

.user-list {
    min-height: 100%;
    max-height: 80vh;
    overflow-x: hidden;
    /* overflow-y: scroll; */
}

.list-item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #494949;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.39);
}

.user-list.right .list-item {
    flex-direction: row;
}

.user-list.left .list-item {
    flex-direction: row-reverse;
}

.list-item-text {
    margin-bottom: 0;
}

.list-item-text .username {
    display: none;
}

.coin-dealer {
    display: flex;
    min-height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.coin-container {
    background-color: blanchedalmond;
    background-image: url("../img/coins-bg.jpg");
    background-size: cover;
    width: 100%;
    display: flex;
    flex: 1;
    position: relative;
}

.coin-img {
    min-width: 250px;
    margin: 3rem auto;
}

.coin-list {
    margin: 0;
}

.coin-list-item:hover {
    cursor: pointer;
}

.coin-list-item {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}


.coin-list-item > img {
    width: 3rem;
}

.coin-list-item.front {
    /* background-color: #606060; */
    color: white;
}

.coin-list-item.back {
    /* background-color: #606060; */
    color: white;
}

.coin-list-item.front.active {
    background-color: #8d2312;
    color: white;
}

.coin-list-item.back.active {
    background-color: #0d368d;
    color: white;
}

.clock-container {
    width: 100%;
    text-align: center;
    background-color: rgb(60 60 60);
    color: white;
    font-size: 5rem;
}

.spinner-container {
    position: absolute;
    top:50%;
    left:50%;
}

.spinner {
    position: absolute;
    width:10rem;
    height:10rem;
    left:-5rem;
    top:-5rem;
}

.bet-input {
    background-color: transparent !important;
    background: linear-gradient(45deg, #8d0808, transparent);
    color: white !important;
    border: none;
    text-align: center;
    font-size: 2rem;
}

.bet-input::selection,
.bet-input:focus
{
    border: none;
    box-shadow: none;
}

.bet-input::selection {
    background-color: #164cbe;
}

.bet-input::placeholder {
    color: rgba(255, 255, 255, 0.308);
}

.bet-input-container {
    background-color: rgb(3, 74, 156);
}

.btn-bet-input {
    border: none;
    padding: 1.3rem;
}

.btn-bet-input:focus {
    box-shadow: none;
}